
tensorflow==2.20.0
scikit-learn
ffmpeg-python
git+https://github.com/openai/CLIP.git
einops
accelerate
timm
fairscale
opencv-python
pandas
numpy
scipy                     
pillow
openai
m3u8
pydub
aiohttp
mistralai
m3u8
pydub
requests
git+https://github.com/xinyu1205/recognize-anything.git
torch==2.6.0 --index-url https://download.pytorch.org/whl/cu124
torchvision==0.21.0 --index-url https://download.pytorch.org/whl/cu124
torchaudio==2.6.0 --index-url https://download.pytorch.org/whl/cu124
transformers==4.55.4
sentencepiece
google-generativeai
